In [1]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\dell\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\dell\anaconda3\lib\site-packages (from mysql) (2.2.0)

In [2]:
import mysql.connector #don't name it as mysql.py

In [3]:
import mysql

In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [5]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\dell\anaconda3\lib\site-packages (4.0.34)

In [6]:
import pyodbc

In [7]:
import mysql.connector

In [8]:
import mysql

In [9]:
import mysql.connector

In [42]:
mydb = mysql.connector.connect(host="localhost",
                      user="root",
                      password="12345",
                      database="db1")
mydb

In [11]:
#!pip uninstall mysql-connector-python

In [12]:
#!pip install mysql-connector-python

In [13]:
#import pyodbc

In [14]:
#import mysql.connector

In [15]:
#mydb = mysql.connector(host="localhost",
                      user="root",
                      password="12345",
                      database="db1")

IndentationError: unexpected indent (635767463.py, line 2)

In [16]:
#mydb

In [43]:
#mydb.autocommit = True 
cursor = mydb.cursor()

In [44]:
#cursor.execute("create table faculty(name varchar(60), email varchar(60) )")
cursor.execute("insert into faculty(name, email) values('Gishi','gishi@gmail.com')")
mydb.commit()

In [45]:
#cursor=mydb.cursor()
#cursor.execute("create table customer(customer_id int, name varchar(60), email varchar(60), bill int, Primary Key(customer_id))")

In [46]:
cursor.execute("select * from faculty")
for result in cursor.fetchall():
    print(result)

('Shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Gishi', 'gishi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('divya', 'divya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('gishi', 'gishi@gmail.com')
('rashi', 'rashi@gmail.com')
('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('dushyant', 'dushyant@gmail.com')
('meenu', 'meenu@gmail.com')
('rashika', 'rashika@gmail.com')
('Gishi', 'gishi@gmail.com')

In [28]:
cursor.execute("update faculty set name='divya'")
mydb.commit()

cursor.execute("select * from faculty")
for result in cursor.fetchall():
    print(result)

('divya', 'gishi@gmail.com')
('divya', 'rashmi@gmail.com')
('divya', 'rashmi@gmail.com')
('divya', 'divya@gmail.com')
('divya', 'shaurya@gmail.com')

In [34]:
cursor.execute("delete from faculty where name='divya'")
mydb.commit()

cursor.execute("select * from faculty")
for result in cursor.fetchall():
    print(result)

('Shaurya', 'shaurya@gmail.com')
('Rashmi', 'rashmi@gmail.com')
('Gishi', 'gishi@gmail.com')

In [36]:
vals=[]
for index in range(10):
    candidate=(input("Name: "),input("email: "))
    vals.append(candidate)
candidate

Name: rashmi
email: rashmi@gmail.com
Name: divya
email: divya@gmail.com
Name: shaurya
email: shaurya@gmail.com
Name: gishi
email: gishi@gmail.com
Name: rashi
email: rashi@gmail.com
Name: tanvi
email: tanvi@gmail.com
Name: tanisha
email: tanisha@gmail.com
Name: dushyant
email: dushyant@gmail.com
Name: meenu
email: meenu@gmail.com
Name: rashika
email: rashika@gmail.com

('rashika', 'rashika@gmail.com')

In [37]:
vals

[('rashmi', 'rashmi@gmail.com'),
 ('divya', 'divya@gmail.com'),
 ('shaurya', 'shaurya@gmail.com'),
 ('gishi', 'gishi@gmail.com'),
 ('rashi', 'rashi@gmail.com'),
 ('tanvi', 'tanvi@gmail.com'),
 ('tanisha', 'tanisha@gmail.com'),
 ('dushyant', 'dushyant@gmail.com'),
 ('meenu', 'meenu@gmail.com'),
 ('rashika', 'rashika@gmail.com')]

In [39]:
for candidate in vals:
    sql='insert into faculty(name,email) values(%s,%s)'
    cursor.execute(sql, candidate)
    mydb.commit()

In [40]:
cursor.execute("select * from faculty")
for result in cursor.fetchall():
    print(result)

('Shaurya', 'shaurya@gmail.com')
('Rashmi', 'rashmi@gmail.com')
('Gishi', 'gishi@gmail.com')
('rashmi', 'rashmi@gmail.com')
('divya', 'divya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('gishi', 'gishi@gmail.com')
('rashi', 'rashi@gmail.com')
('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('dushyant', 'dushyant@gmail.com')
('meenu', 'meenu@gmail.com')
('rashika', 'rashika@gmail.com')

In [48]:
cursor.execute("update faculty set name='Rashmi Rawat' where name= 'rashmi'")
mydb.commit()


cursor.execute("select * from faculty")
for result in cursor.fetchall():
    print(result)

('Shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Gishi', 'gishi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('divya', 'divya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('gishi', 'gishi@gmail.com')
('rashi', 'rashi@gmail.com')
('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('dushyant', 'dushyant@gmail.com')
('meenu', 'meenu@gmail.com')
('rashika', 'rashika@gmail.com')
('Gishi', 'gishi@gmail.com')

In [49]:
cursor.execute("select * from faculty order by name")
for result in cursor.fetchall():
    print(result)

('divya', 'divya@gmail.com')
('dushyant', 'dushyant@gmail.com')
('Gishi', 'gishi@gmail.com')
('gishi', 'gishi@gmail.com')
('Gishi', 'gishi@gmail.com')
('meenu', 'meenu@gmail.com')
('rashi', 'rashi@gmail.com')
('rashika', 'rashika@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Shaurya', 'shaurya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('tanisha', 'tanisha@gmail.com')
('tanvi', 'tanvi@gmail.com')

In [50]:
cursor.execute("select * from faculty order by name DESC")
for result in cursor.fetchall():
    print(result)

('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('Shaurya', 'shaurya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('rashika', 'rashika@gmail.com')
('rashi', 'rashi@gmail.com')
('meenu', 'meenu@gmail.com')
('Gishi', 'gishi@gmail.com')
('gishi', 'gishi@gmail.com')
('Gishi', 'gishi@gmail.com')
('dushyant', 'dushyant@gmail.com')
('divya', 'divya@gmail.com')

In [51]:
cursor.execute("drop table staff1")

In [52]:
cursor.execute("select * from faculty order by name DESC limit 7")
for result in cursor.fetchall():
    print(result)

('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('Shaurya', 'shaurya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('rashika', 'rashika@gmail.com')

In [53]:
cursor.execute("select * from faculty order by name DESC limit 70")
for result in cursor.fetchall():
    print(result)

('tanvi', 'tanvi@gmail.com')
('tanisha', 'tanisha@gmail.com')
('Shaurya', 'shaurya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('rashika', 'rashika@gmail.com')
('rashi', 'rashi@gmail.com')
('meenu', 'meenu@gmail.com')
('Gishi', 'gishi@gmail.com')
('gishi', 'gishi@gmail.com')
('Gishi', 'gishi@gmail.com')
('dushyant', 'dushyant@gmail.com')
('divya', 'divya@gmail.com')

In [55]:
cursor.execute("select * from faculty order by name DESC limit 7 offset 2")
for result in cursor.fetchall():
    print(result)

('Shaurya', 'shaurya@gmail.com')
('shaurya', 'shaurya@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('Rashmi Rawat', 'rashmi@gmail.com')
('rashika', 'rashika@gmail.com')
('rashi', 'rashi@gmail.com')
('meenu', 'meenu@gmail.com')

In [ ]:
ACID--->
A----> Atomicity
C----> Consistency
I----> Isolation
D----> Durability